.header {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 0;
  width: auto;
  z-index: 200;
  margin-right: 4rem; 
}

/* 기본 MENU 버튼 */
.menuBtn {
  background-color: #FF7EA3;
  height: 40px;
  width: 110px;
  color: #ffffff;           
  border: none;
  border-radius: 100px;
  padding: 10px 20px;        
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* OPEN 상태일 때 → CLOSE */
.menuBtn.open {
  background-color: #ffffff; 
  color: #FF7EA3;           
}
