.homeRoot {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  color: #C0C6D2
}

.textBlock {
  text-align: center;
  /* Home만 Orbitron 쓰고 싶으면 여기만 */
  font-family: 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}

.main {
  font-size: 56px;
  letter-spacing: 0.18em;
  font-weight: 500;
  margin-bottom: 10px;
}
