.projectDetailPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.detailInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px 10vw;
}

.detailText {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailImage {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
