* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden; 
}

body {
    font-family: 'Syncopate', 'pretendard';
    background-color: #E7E7E7; 
    overflow-x: hidden; 
}




