* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont,
  'pretendard', sans-serif;
  background-color: #141414;
  color: #C0C6D2;
}



/* Main area */
.page-container {
  padding-top: 56px;
}


